.navbar{
  background: #003366;
}

ul.pagination li{
  font-size: 10px;
}

ul.nav-tabs li{
  font-size:5px;
  writing-mode: vertical-rl;
}

ul.nav-tabs span{
  writing-mode: horizontal-tb;
}

body{
    background-color: #eeeeee;    
}

footer{
  background: #003366;
}

.btn-unfollow{
  padding: 3px 2px;
}

.btn-follow{
  padding: 3px 2px;
}

.btn-profile{
  padding: 3px 2px;
}

.btn-facebook{
  background-color: #0000FF;
  color: white;
}
.btn-facebook:hover{
  background-color: #5D99FF;
  color: white;
}

.btn-github{
  background-color: #555555;
  color : white;
}

.btn-github:hover{
  background-color: #999999;
  color : white;
}

.circle{
  border: thin solid rgba(0,153,255,.8);
}

.dropdown-menu{
  background: #003366;
  border: thin solid rgba(0,153,255,.8);
}

.dropdown-menu a{
  color: rgba(240,240,240,.9);
}

.dropdown-divider{
  border-top: thin solid rgba(0,153,255,.8);
}

.dropdown-item:hover{
  background-color: #003366;
}

.container{
    background-color: #ffffff;
}

.header-before-login{
    position: relative;
    height: 50vh;
    background: url("https://original-yoursongs.s3-ap-northeast-1.amazonaws.com/header-live.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.caption{
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 50px;
}

.my-orange {
    color: #fecb81;
}

.favorite-orange{
    color: #fecb81;
}

.circle1{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: thin solid rgba(0,153,255,.8);
}

.circle2{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: thin solid rgba(0,153,255,.8);
}

.circle4{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: thin solid rgba(0,153,255,.8);
}


footer {
    background-color: #000080;
    text-align: center;
    color: #fff;
    height: 3vh;
}

.btn-unfavorite{
    /*background-color: #ffd700;*/
    /*border: 1px solid #000099;*/
    border: 1px solid #ff3366;
    font-weight: bold;
}

.btn-favorite{
    border: 2px solid #ffd700;
    font-weight: bold;
}

.song-video{
    width: 180px;
    height: 120px;
}

/*ページネーション*/
.pagination{
    justify-content: center;
}

/*カルーセル*/
.VueCarousel-slide {
  position: relative;
  min-height: 50px;
  text-align: center;
  font-size: 15px;
  background-color: #fff;
  color: black;
}

/*コメント*/
.balloon1-left{
    position:relative;
    /*width:500px;*/
    min-width: 100px;
    max-width: 200px;
    /*height:80px;*/
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    text-align:left;
    border:2px solid #4ACAFF;
    color:#000000;
    /*font-size:30px;*/
    /*font-weight:bold;*/
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}

.balloon1-left:after,.balloon1-left:before{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    right:100%;
    top:50%;
}

.balloon1-left:after{
    border-color: rgba(255, 255, 255, 0);
    border-top-width:10px;
    border-bottom-width:10px;
    border-left-width:10px;
    border-right-width:10px;
    margin-top: -10px;
    border-right-color:#FFFFFF;
}

.balloon1-left:before{
    border-color: rgba(74, 202, 255, 0);
    border-top-width:12px;
    border-bottom-width:12px;
    border-left-width:12px;
    border-right-width:12px;
    margin-top: -12px;
    margin-right: 2px;
    border-right-color:#4ACAFF;
}

.balloon1-left p {
  margin: 0;
  padding: 0;
}

.text-area{
  word-wrap: break-word;
}

.self-introduction1{
    position:relative;
    /*width:500px;*/
    min-width: 100px;
    max-width: 200px;
    /*height:80px;*/
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    text-align:center;
    border:2px solid #4ACAFF;
    color:#000000;
    /*font-size:30px;*/
    /*font-weight:bold;*/
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}

.self-introduction1 p{
  margin: 0;
  padding: 0;
}

/*曲の説明*/
 .balloon3{
    position:relative;
    /*width:500px;*/
    min-width: 150px;
    max-width: 250px;
    /*height:80px;*/
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    text-align:left;
    border:2px solid #4ACAFF;
    color:#000000;
    /*font-size:30px;*/
    /*font-weight:bold;*/
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    }
    
  .balloon3 p{
    margin: 0;
    padding: 0;
  }

.balloon4{
    position:relative;
    /*width:500px;*/
    min-width: 150px;
    max-width: 300px;
    /*height:80px;*/
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    text-align:left;
    border:2px solid #4ACAFF;
    color:#000000;
    /*font-size:30px;*/
    /*font-weight:bold;*/
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    }
    
  .balloon4 p{
      margin: 0;
      padding: 0;
    }
    
  .song-card{
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    border:2px solid #FF6699;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    }
    
  .song-card p{
      margin: 0;
      padding: 0;
    }
    
  .user-card{
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    border:1px solid #9966FF;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    }
    
  .user-card p{
      margin: 0;
      padding: 0;
    }
  
  .user-information1{
    background:#FFFFFF;
    padding:10px 6px;
    text-align:left;
    border:1px solid #9966FF;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    }
    
    .user-information1 p{
      margin: 0;
      padding: 0;
    }
    
  .user-information{
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    border:1px solid #9966FF;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    }
    
  .user-information p{
      margin: 0;
      padding: 0;
    }


.page-title {
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
}


.song-name{
    padding: 0.5em;/*文字周りの余白*/
    color: #494949;/*文字色*/
    background: #fffaf4;/*背景色*/
    border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
}

.user-information-title{
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
}

/*画面サイズが480pxから768pxのとき*/
@media screen and (min-width:480px){ 
    a.nav-link{
      font-size:12px;
    }
    
    ul.pagination li{
    font-size: 10px;
    }
    
    ul.nav-tabs li{
      font-size:8px;
      writing-mode: horizontal-tb;
    }
    
    ul.nav-tabs span{
      writing-mode: horizontal-tb;
    }
   
    .song-video { 
        width: 200px;
        height: 150px;
    }
    
    /*コメント*/
    .balloon1-left{
    position:relative;
    display: inline-block;
    min-width: 200px;
    max-width: 300px;
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    text-align:left;
    border:2px solid #4ACAFF;
    color:#000000;
    /*font-size:30px;*/
    /*font-weight:bold;*/
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    }
    
    .balloon1-left:after,.balloon1-left:before{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    right:100%;
    top:50%;
    }

    .balloon1-left:after{
    border-color: rgba(255, 255, 255, 0);
    border-top-width:10px;
    border-bottom-width:10px;
    border-left-width:10px;
    border-right-width:10px;
    margin-top: -10px;
    border-right-color:#FFFFFF;
    }

    .balloon1-left:before{
    border-color: rgba(74, 202, 255, 0);
    border-top-width:12px;
    border-bottom-width:12px;
    border-left-width:12px;
    border-right-width:12px;
    margin-top: -12px;
    margin-right: 2px;
    border-right-color:#4ACAFF;
    }
    
    /*自己紹介*/
    .self-introduction1{
    position:relative;
    /*width:500px;*/
    min-width: 200px;
    max-width: 300px;
    /*height:80px;*/
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    text-align:center;
    border:2px solid #4ACAFF;
    color:#000000;
    /*font-size:30px;*/
    /*font-weight:bold;*/
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    }
    
    .self-introduction1 p{
      margin: 0;
      padding: 0;
    }
    
    /*曲の説明*/
    .balloon3{
    position:relative;
    /*width:500px;*/
    min-width: 150px;
    max-width: 400px;
    /*height:80px;*/
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    text-align:left;
    border:2px solid #4ACAFF;
    color:#000000;
    /*font-size:30px;*/
    /*font-weight:bold;*/
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    }
    
  .balloon3 p{
      margin: 0;
      padding: 0;
    }
    
    /*曲詳細画面での曲の説明*/
    .balloon4{
    position:relative;
    /*width:500px;*/
    min-width: 150px;
    max-width: 400px;
    /*height:80px;*/
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    text-align:left;
    border:2px solid #4ACAFF;
    color:#000000;
    /*font-size:30px;*/
    /*font-weight:bold;*/
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    }
    
  .balloon4 p{
      margin: 0;
      padding: 0;
    }
}


/*　画面サイズが768pxから1024pxのとき*/
@media screen and (min-width:768px) and (max-width:1024px) {
    a.nav-link{
      font-size:14px;
    }
  
    ul.pagination li{
    font-size: 15px;
    }
    
    .song-video {
        width: 300px;
        height: 200px;
    }
    
    ul.nav-tabs li{
      font-size:12px;
      writing-mode: horizontal-tb;
    }
    
    ul.nav-tabs span{
      writing-mode: horizontal-tb;
    }
   
    
    /*コメント*/
    .balloon1-left{
    position:relative;
    display: inline-block;
    /*width:500px;*/
    min-width: 200px;
    max-width: 400px;
    /*height:80px;*/
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    text-align:left;
    border:2px solid #4ACAFF;
    color:#000000;
    /*font-size:30px;*/
    /*font-weight:bold;*/
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    }
    
    .balloon1-left:after,.balloon1-left:before{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    right:100%;
    top:50%;
    }

    .balloon1-left:after{
    border-color: rgba(255, 255, 255, 0);
    border-top-width:10px;
    border-bottom-width:10px;
    border-left-width:10px;
    border-right-width:10px;
    margin-top: -10px;
    border-right-color:#FFFFFF;
    }

    .balloon1-left:before{
    border-color: rgba(74, 202, 255, 0);
    border-top-width:12px;
    border-bottom-width:12px;
    border-left-width:12px;
    border-right-width:12px;
    margin-top: -12px;
    margin-right: 2px;
    border-right-color:#4ACAFF;
    }
    
    /*自己紹介*/
    .self-introduction1{
    position:relative;
    /*width:500px;*/
    min-width: 300px;
    max-width: 400px;
    /*height:80px;*/
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    text-align:center;
    border:2px solid #4ACAFF;
    color:#000000;
    /*font-size:30px;*/
    /*font-weight:bold;*/
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    }
    
    .self-introduction1 p{
      margin: 0;
      padding: 0;
    }
    
    /*曲の説明*/
 .balloon3{
    position:relative;
    /*width:500px;*/
    min-width: 150px;
    max-width: 400px;
    /*height:80px;*/
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    text-align:left;
    border:2px solid #4ACAFF;
    color:#000000;
    /*font-size:30px;*/
    /*font-weight:bold;*/
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    }
    
    .balloon3 p{
      margin: 0;
      padding: 0;
    }
    
    /*曲詳細画面での曲の説明*/
    .balloon4{
    position:relative;
    /*width:500px;*/
    min-width: 150px;
    max-width: 370px;
    /*height:80px;*/
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    text-align:left;
    border:2px solid #4ACAFF;
    color:#000000;
    /*font-size:30px;*/
    /*font-weight:bold;*/
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    }
    
  .balloon4 p{
      margin: 0;
      padding: 0;
    }
}


/*　画面サイズが1024px以上のとき　*/
@media screen and (min-width:1024px) {
    a.nav-link{
      font-size:16px;
    }
    
    ul.pagination li{
    font-size: 18px;
    }
    
    .song-video{
        width: 400px;
        height: 300px;
    }
    
    ul.nav-tabs li{
      font-size:16px;
      writing-mode: horizontal-tb;
    }
    
    ul.nav-tabs span{
      writing-mode: horizontal-tb;
    }
   
    
    /*コメント*/
    .balloon1-left{
    position:relative;
    display: inline-block;
    /*width:500px;*/
    min-width: 200px;
    max-width: 500px;
    /*height:80px;*/
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    text-align:left;
    border:2px solid #4ACAFF;
    color:#000000;
    /*font-size:30px;*/
    /*font-weight:bold;*/
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    }
   
    .balloon1-left:after,.balloon1-left:before{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    right:100%;
    top:50%;
    }
   
    .balloon1-left:after{
    border-color: rgba(255, 255, 255, 0);
    border-top-width:10px;
    border-bottom-width:10px;
    border-left-width:10px;
    border-right-width:10px;
    margin-top: -10px;
    border-right-color:#FFFFFF;
    }
    
    .balloon1-left:before{
    border-color: rgba(74, 202, 255, 0);
    border-top-width:12px;
    border-bottom-width:12px;
    border-left-width:12px;
    border-right-width:12px;
    margin-top: -12px;
    margin-right: 2px;
    border-right-color:#4ACAFF;
    }
    
    /*自己紹介*/
    /*.balloon2 {*/
    /*  position: relative;*/
    /*  display: inline-block;*/
    /*  margin: 1.5em 0 1.5em 15px;*/
    /*  padding: 7px 10px;*/
    /*  min-width: 150px;*/
    /*  max-width: 600px;*/
    /*  color: #555;*/
    /*  font-size: 16px;*/
    /*  background: #e0edff;*/
    /*}*/
    
    /*.balloon2 p {*/
    /*  margin: 0;*/
    /*  padding: 0;*/
    /*}*/
    
    .self-introduction1{
    position:relative;
    /*width:500px;*/
    min-width: 400px;
    max-width: 500px;
    /*height:80px;*/
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    text-align:center;
    border:2px solid #4ACAFF;
    color:#000000;
    /*font-size:30px;*/
    /*font-weight:bold;*/
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    }
    
    .self-introduction1 p{
      margin: 0;
      padding: 0;
    }
    
    /*曲の説明*/
    /*.balloon3 {*/
    /*  position: relative;*/
    /*  display: inline-block;*/
    /*  margin: 1.5em 0 1.5em 15px;*/
    /*  padding: 7px 10px;*/
    /*  min-width: 150px;*/
    /*  max-width: 550px;*/
    /*  color: #555;*/
    /*  font-size: 16px;*/
    /*  background: #e0edff;*/
    /*}*/
    
    /*.balloon3 p {*/
    /*  margin: 0;*/
    /*  padding: 0;*/
    /*}*/
    
    .balloon3{
    position:relative;
    /*width:500px;*/
    min-width: 150px;
    max-width: 550px;
    /*height:80px;*/
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    text-align:left;
    border:2px solid #4ACAFF;
    color:#000000;
    /*font-size:30px;*/
    /*font-weight:bold;*/
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    }
    
    .balloon3 p{
      margin: 0;
      padding: 0;
    }
    
    /*曲詳細画面での曲の説明*/
    .balloon4{
    position:relative;
    /*width:500px;*/
    min-width: 150px;
    max-width: 500px;
    /*height:80px;*/
    background:#FFFFFF;
    padding:10px;
    margin:3px;
    text-align:left;
    border:2px solid #4ACAFF;
    color:#000000;
    /*font-size:30px;*/
    /*font-weight:bold;*/
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    }
    
  .balloon4 p{
      margin: 0;
      padding: 0;
    }
}


