.navbar{
  background: #003366;
}

body{
    background-color: #eeeeee;    
}

footer{
  background: #003366;
}

.circle{
  border: thin solid rgba(0,153,255,.8);
}

.dropdown-menu{
  background: #003366;
  border: thin solid rgba(0,153,255,.8);
}

.dropdown-menu a{
  color: rgba(240,240,240,.9);
}

.dropdown-divider{
  border-top: thin solid rgba(0,153,255,.8);
}

.dropdown-item:hover{
  background-color: #003366;
}

.container{
    background-color: #ffffff;
}

.header-before-login{
    position: relative;
    height: 50vh;
    background: url("https://original-yoursongs.s3-ap-northeast-1.amazonaws.com/header-live.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.caption{
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 50px;
}

.my-orange {
    color: #fecb81;
}

.favorite-orange{
    color: #fecb81;
}

.circle1{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: thin solid rgba(0,153,255,.8);
}

.circle2{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: thin solid rgba(0,153,255,.8);
}

.circle4{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: thin solid rgba(0,153,255,.8);
}

/*.circle{*/
/*  border: thin solid rgba(0,153,255,.8);*/
/*}*/

footer {
    background-color: #000080;
    text-align: center;
    color: #fff;
    height: 3vh;
}

.btn-unfavorite{
    /*background-color: #ffd700;*/
    /*border: 1px solid #000099;*/
    border: 1px solid #ff3366;
    font-weight: bold;
}

.btn-favorite{
    /*background-color: #ffd700;*/
    /*border: 1px solid #000099;*/
    border: 2px solid #ffd700;
    font-weight: bold;
}

.song-video{
    width: 180px;
    height: 120px;
}

/*ページネーション*/
.pagination{
    justify-content: center;
}

/*カルーセル*/
.VueCarousel-slide {
  position: relative;
  min-height: 50px;
  text-align: center;
  font-size: 15px;
  background-color: #fff;
  color: black;
}

/*コメント*/
.balloon1-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 100px;
  max-width: 200px;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.balloon1-left p {
  margin: 0;
  padding: 0;
}

/*自己紹介*/
.balloon2 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 150px;
  max-width: 300px;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.balloon2 p {
  margin: 0;
  padding: 0;
}

/*曲の説明*/
.balloon3 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 150px;
  max-width: 250px;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.balloon3 p {
  margin: 0;
  padding: 0;
}

/*曲詳細画面での曲の説明*/
.balloon4 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 150px;
  max-width: 300px;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.balloon4 p {
  margin: 0;
  padding: 0;
}

h1.page-title {
  position: relative;
  margin: 0 100px 20px;
  padding-bottom: 10px;
}

h1.page-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
}

/*h1:before {*/
/*  font-family: "Font Awesome 5 Free";*/
/*  content: "\f303";*/
/*  position: absolute;*/
/*  padding: 0em;*/
/*  color: white;*/
/*  font-weight: normal;*/
/*  left: -1.35em;*/
/*  top: 50%;*/
/*  -webkit-transform: translateY(-50%);*/
/*  transform: translateY(-50%);*/
/*}*/

/*h3{
    padding: 0.5em;/*文字周りの余白
    color: #494949;/*文字色
    background: #fffaf4;/*背景色
    border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）
}*/

h3.song-name{
    padding: 0.5em;/*文字周りの余白*/
    color: #494949;/*文字色*/
    background: #fffaf4;/*背景色*/
    border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
}

h4.user-info{
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
}

h4#profile{
}
 /*　画面サイズが480pxから768pxのとき　*/
@media screen and (min-width:480px) { 
   
    .song-video { 
        width: 200px;
        height: 150px;
    }
    
    /*コメント*/
     .balloon1-left {
        position: relative;
        display: inline-block;
        margin: 1.5em 0 1.5em 15px;
        padding: 7px 10px;
        min-width: 120px;
        max-width: 300px;
        color: #555;
        font-size: 16px;
        background: #e0edff;
    }    
    
    .balloon1-left:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -30px;
        margin-top: -15px;
        border: 15px solid transparent;
        border-right: 15px solid #e0edff;
    }
         
    .balloon1-left p {
        margin: 0;
        padding: 0;
    }
    
    /*自己紹介*/
    .balloon2 {
      position: relative;
      display: inline-block;
      margin: 1.5em 0 1.5em 15px;
      padding: 7px 10px;
      min-width: 150px;
      max-width: 400px;
      color: #555;
      font-size: 16px;
      background: #e0edff;
    }
    
    .balloon2 p {
      margin: 0;
      padding: 0;
    }
    
    /*曲の説明*/
    .balloon3 {
      position: relative;
      display: inline-block;
      margin: 1.5em 0 1.5em 15px;
      padding: 7px 10px;
      min-width: 150px;
      max-width: 400px;
      color: #555;
      font-size: 16px;
      background: #e0edff;
    }
    
    .balloon3 p {
      margin: 0;
      padding: 0;
    }
    
    /*曲詳細画面での曲の説明*/
    .balloon4 {
      position: relative;
      display: inline-block;
      margin: 1.5em 0 1.5em 15px;
      padding: 7px 10px;
      min-width: 150px;
      max-width: 400px;
      color: #555;
      font-size: 16px;
      background: #e0edff;
    }
    
    .balloon4 p {
      margin: 0;
      padding: 0;
    }
}


/*　画面サイズが768pxから1024pxのとき　*/
@media screen and (min-width:768px) and ( max-width:1024px) {
    .song-video {
        width: 300px;
        height: 200px;
    }
    
    /*コメント*/
    .balloon1-left {
        position: relative;
        display: inline-block;
        margin: 1.5em 0 1.5em 15px;
        padding: 7px 10px;
        min-width: 120px;
        max-width: 500px;
        color: #555;
        font-size: 16px;
        background: #e0edff;
    }    
    
    .balloon1-left:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -30px;
        margin-top: -15px;
        border: 15px solid transparent;
        border-right: 15px solid #e0edff;
    }
         
    .balloon1-left p {
        margin: 0;
        padding: 0;
    }
    
    /*自己紹介*/
    .balloon2 {
      position: relative;
      display: inline-block;
      margin: 1.5em 0 1.5em 15px;
      padding: 7px 10px;
      min-width: 150px;
      max-width: 500px;
      color: #555;
      font-size: 16px;
      background: #e0edff;
    }
    
    .balloon2 p {
      margin: 0;
      padding: 0;
    }
    
    /*曲の説明*/
    .balloon3 {
      position: relative;
      display: inline-block;
      margin: 1.5em 0 1.5em 15px;
      padding: 7px 10px;
      min-width: 150px;
      max-width: 400px;
      color: #555;
      font-size: 16px;
      background: #e0edff;
    }
    
    .balloon3 p {
      margin: 0;
      padding: 0;
    }
    
    /*曲詳細画面での曲の説明*/
    .balloon4 {
      position: relative;
      display: inline-block;
      margin: 1.5em 0 1.5em 15px;
      padding: 7px 10px;
      min-width: 150px;
      max-width: 370px;
      color: #555;
      font-size: 16px;
      background: #e0edff;
    }
    
    .balloon4 p {
      margin: 0;
      padding: 0;
    }
}


/*　画面サイズが1024px以上のとき　*/
@media screen and (min-width:1024px) {
    
    .song-video{
        width: 400px;
        height: 300px;
    }
    
    /*コメント*/
    .balloon1-left {
        position: relative;
        display: inline-block;
        margin: 1.5em 0 1.5em 15px;
        padding: 7px 10px;
        min-width: 120px;
        max-width: 600px;
        color: #555;
        font-size: 16px;
        background: #e0edff;
    }    
    
    .balloon1-left:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -30px;
        margin-top: -15px;
        border: 15px solid transparent;
        border-right: 15px solid #e0edff;
    }
         
    .balloon1-left p {
        margin: 0;
        padding: 0;
    }
    
    /*自己紹介*/
    .balloon2 {
      position: relative;
      display: inline-block;
      margin: 1.5em 0 1.5em 15px;
      padding: 7px 10px;
      min-width: 150px;
      max-width: 600px;
      color: #555;
      font-size: 16px;
      background: #e0edff;
    }
    
    .balloon2 p {
      margin: 0;
      padding: 0;
    }
    
    /*曲の説明*/
    .balloon3 {
      position: relative;
      display: inline-block;
      margin: 1.5em 0 1.5em 15px;
      padding: 7px 10px;
      min-width: 150px;
      max-width: 550px;
      color: #555;
      font-size: 16px;
      background: #e0edff;
    }
    
    .balloon3 p {
      margin: 0;
      padding: 0;
    }
    
    /*曲詳細画面での曲の説明*/
    .balloon4 {
      position: relative;
      display: inline-block;
      margin: 1.5em 0 1.5em 15px;
      padding: 7px 10px;
      min-width: 150px;
      max-width: 500px;
      color: #555;
      font-size: 16px;
      background: #e0edff;
    }
    
    .balloon4 p {
      margin: 0;
      padding: 0;
    } 
}


